[
    (
        id: "transport-belt",
        name: "Transport belt",
        prototype: "transport-belt",
        stack_size: 100,
        is_fluid: false,
    ),
    (
        id: "fast-transport-belt",
        name: "Fast transport belt",
        prototype: "transport-belt",
        stack_size: 100,
        is_fluid: false,
    ),
    (
        id: "express-transport-belt",
        name: "Express transport belt",
        prototype: "transport-belt",
        stack_size: 100,
        is_fluid: false,
    ),
    (
        id: "underground-belt",
        name: "Underground belt",
        prototype: "underground-belt",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "fast-underground-belt",
        name: "Fast underground belt",
        prototype: "underground-belt",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "express-underground-belt",
        name: "Express underground belt",
        prototype: "underground-belt",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "splitter",
        name: "Splitter",
        prototype: "splitter",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "fast-splitter",
        name: "Fast Splitter",
        prototype: "splitter",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "express-splitter",
        name: "Express Splitter",
        prototype: "splitter",
        stack_size: 50,
        is_fluid: false,
    ),
]