[
    (
        id: "burner-inserter",
        name: "Burner inserter",
        prototype: "inserter",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "inserter",
        name: "Inserter",
        prototype: "inserter",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "long-handed-inserter",
        name: "Long-handed inserter",
        prototype: "inserter",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "fast-inserter",
        name: "Fast inserter",
        prototype: "inserter",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "filter-inserter",
        name: "Filter inserter",
        prototype: "inserter",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "stack-inserter",
        name: "Stack inserter",
        prototype: "inserter",
        stack_size: 50,
        is_fluid: false,
    ),
    (
        id: "stack-filter-inserter",
        name: "Stack filter inserter",
        prototype: "inserter",
        stack_size: 50,
        is_fluid: false,
    ),
]