[
    {
        "id": "small-electric-pole",
        "name": "Small electric pole",
        "proto": "electric-pole",
        "stack_size": "50",
    },
    {
        "id": "medium-electric-pole",
        "name": "Medium electric pole",
        "proto": "electric-pole",
        "stack_size": "50",
    },
    {
        "id": "big-electric-pole",
        "name": "Big electric pole",
        "proto": "electric-pole",
        "stack_size": "50",
    },
    {
        "id": "substation",
        "name": "Substation",
        "proto": "electric-pole",
        "stack_size": "50",
    },
]